:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

html,
body,
div#root {
  min-height: 100vh;
  height: 100%;
  background-color: #333;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1024px;
  min-height: fit-content;
  margin: auto;
}
.app h1 {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style-type: none;
}

button {
  padding: 0.5rem;
  background-color: #aaa;
  color: white;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

input[type='text'] {
  padding: 0.5rem;
  font-size: 1.25rem;

  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: #555;
}
input[type='text']:focus {
  border: 2px solid hsl(209, 100%, 50%);
  outline: none;
}

.search-input-container {
  display: flex;
  gap: 0.5rem;
  position: relative;

  width: fit-content;
  margin: auto;
}
.search-input-container * {
  display: inline-block;
}
.search-input-container input {
  width: 18.75rem;
}
.search-input-container button {
  padding: 0.5rem;
  font-size: 1.25rem;

  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: #555;
}
.search-results-container {
  position: absolute;
  z-index: 100;
  top: 100%;

  width: 300px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  background-color: #555;
}
.search-results-container p {
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: #555;
}
.search-results-container p:hover {
  cursor: pointer;
  background-color: #aaa;
}

.weather-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.weather-data .location-info-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.weather-data .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* background-color: red; */
}
.weather-data .header h1 {
  font-size: 3rem;
}
.weather-icon {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
}

.weather-data .info {
  display: flex;
  gap: 1rem;

  width: fit-content;
  margin: auto;
}
.weather-data .info .additional-info {
  display: flex;
  flex-direction: column;
}
.weather-data .info > :last-child * {
  text-align: right;
  font-weight: normal;
  font-size: 0.75rem;
}
.weather-data .info > :last-child h2 {
  font-size: 1.25rem;
}

/* UTILS */
.hidden {
  display: none;
}
/* END UTILS */

.invert {
  filter: brightness(0) invert(1);
}

.small-text {
  font-size: 0.75rem;
}
