:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

html,
body,
div#root,
.app {
  min-height: 100vh;
  height: 100%;
  background-color: #333;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style-type: none;
}

button {
  padding: 0.5rem;
  background-color: #aaa;
  color: white;
  font-weight: bold;
}

input[type='text'] {
  padding: 0.5rem;
  font-size: 1.25rem;

  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: #555;
}
input[type='text']:focus {
  border: 2px solid hsl(209, 100%, 50%);
  outline: none;
}

.search-input-container {
  display: flex;
  gap: 0.5rem;
  position: relative;
  width: fit-content;
}
.search-input-container * {
  display: inline-block;
}
.search-input-container input {
  width: 18.75rem;
}
.search-input-container button {
  padding: 0.5rem;
  font-size: 1.25rem;

  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: #555;
}
.search-results-container {
  position: absolute;
  z-index: 100;
  top: 100%;

  width: 300px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  background-color: #555;
}
.search-results-container p {
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: #555;
}
.search-results-container p:hover {
  cursor: pointer;
  background-color: #aaa;
}

/* .weather-data {

} */

/* UTILS */
.hidden {
  display: none;
}
/* END UTILS */
